{% extends 'registration/registrationbase.html' %}

{% block content %}
<!-- IMAGE -->
<div class="jumbotron text-center login-background-img" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">

    <div class="jumbotron-header" style="color: #FFFFFF">
        <h1>Welcome to XPLR.IO</h1>
        <p class="lead">We can't wait to show you the world!</p>
        <!-- <p class="lead">The <b>Instagram/Yelp</b> for people who <b>Travel</b></p> -->
    </div>

    <div class="row" style="padding-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}


            <div class="d-flex justify-content-center">
                <form action="{% url 'login' %}" method='post'>
                    {% csrf_token %}
                    <div class="form-group row d-flex justify-content-center">
                        <input class="form-control" type="text" name="username" id="id_username" style="background-color: transparent; color: #EEEEEE" placeholder="Username" required>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <input class="form-control" type="password" name="password" id="id_password" style="background-color: transparent; color: #EEEEEE" placeholder="Password" required>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" value="Login" class="btn btn-dark mb-2" style="background-color: transparent; border-color: #EEEEEE; margin-right: 10px">
                        <a href="{% url 'accounts:signup' %}" class="btn btn-dark mb-2" style="background-color: transparent; border-color: #EEEEEE; margin-left: 10px">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    <!-- FOOTER -->
    <div style="position: absolute; left: 10px; bottom: 0px">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link" href="/">Copyright xplr.io 2019 <span class="sr-only">(current)</span></a>
            </div>
        </nav>
    </div>
</div>

{% endblock %}
