{% extends 'registration/registrationbase.html' %}

{% block content %}
<!-- IMAGE -->
<div class="jumbotron text-center login-background-img" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">

    <div class="jumbotron-header" style="color: #FFFFFF">
        <h1>Almost There!</h1>
        <p class="lead">We just need a little more information</p>
    </div>

    <div class="row" style="padding-top: 40px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="d-flex justify-content-center">
                <form action="{% url 'accounts:welcome-page' %}" method="post" enctype="multipart/form-data" class="mx-auto md-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}

                        <div class="form-group row d-flex justify-content-center align-items-center">
                            {% if 'profile_pic' in field.name %}
                                <label class="btn btn-dark" style="border-color: #EEEEEE; background-color: transparent" for="my-file-selector">
                                    <input id="my-file-selector" type="file" name="{{ field.name }}" style="display:none"
                                    onchange="$('#upload-file-info').html(this.files[0].name)">
                                    Upload Profile Picture
                                </label>
                                <span class='label label-info' style="color: #EEEEEE; padding-left: 15px; padding-bottom: 10px" id="upload-file-info"></span>
                            {% elif "email" in field.name %}
                                <input class="form-control" type="email" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label|title }}" style="background-color: transparent; color: #EEEEEE">
                            {% else %}
                                <input class="form-control" type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label|title }}" style="background-color: transparent; color: #EEEEEE">
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-dark mb-2" style="background-color: transparent; border-color: #EEEEEE; margin-top: 10px"">Sign up</button>

                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


    <!-- FOOTER -->
    <div style="position: absolute; left: 10px; bottom: 0px">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link" href="/">Copyright xplr.io 2019 <span class="sr-only">(current)</span></a>
            </div>
        </nav>
    </div>
</div>

{% endblock %}
