{% load static %}

<div class="navigation-bar" style="padding: 20px">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-md-1">
            <div class="logo">
                <h4>XPLR.IO</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="adventures">
                <h5>adventures</h5>
            </div>
        </div>
        <div class="col-md-1">
            <div class="explore">
                <h5>explore</h5>
            </div>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-4">
            <div class="search">
                <h5><span class="fas fa-search"></span> Search Bar</h5>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-8">
                    <div class="signup" style="padding-left: 60%">
                        <a href="/accounts/signup">SignUp</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="login">
                        <a href="/accounts/login">Login</a>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-1">
            <div class="profile">
                <img class='img-circle' style="height: 40px; width: auto; border-radius: 50%" src="{% static "images/profile_picture.png" %}"/>
            </div>
        </div>

    </div>
</div>
