<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`device-width`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XPLR.IO</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/xplrmain/static/css/styles.css">

    <script src="https://kit.fontawesome.com/735e24ebd7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div style="position: relative; min-height: 100vh;">
        {% include 'partials/navbar2.html' %}

        {% block content %} {% endblock %}

        {% include 'partials/footer.html' %}
    </div>

</body>
</html>
