<div class="row">
    <div class="col-md-12">
        <!-- header and follow button -->
        <div class="row">
            <div class="col-md-12">
                <h4>Header will go here</h4>
            </div>
        </div>

        <!-- images -->
        <div class="row">
            <div class="col-md-6">
                <img src="http://via.placeholder.com/250x500" alt="">
            </div>
            <div class="col-md-6">
                <img src="http://via.placeholder.com/250x500" alt="">
            </div>
        </div>

        <!-- Image Parameters -->
        <div class="row">
            <div class="col-md-12">
                <!-- First Row -->
                <div class="row">
                    <div class="col-md-2">
                        <h5>Go</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Visited</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Coordinates</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Difficulty</h5>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <h5>Save</h5>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-md-12">
                        <h4>Caption/Description will go here</h4>
                    </div>
                </div>

                <!-- Some more parameters -->
                <div class="row">
                    <div class="col-md-6">
                        <h5>Time to visit</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Verified coordinates</h5>
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>
